.s-footer
  position fixed
  bottom 0
  left 0
  z-index 4

  display inline-block
  width 100%
  height footer-height

  background-color background-color

  &-menu
    display none
    width 100%
    height 100%
    margin 0
    padding 0

    font-size 0
    line-height footer-height
    text-align center

    &.active
      display inline-block

    &-item
      display inline-block
      height 25px
      margin 0
      padding 0 10px

      font-family museo300, sans-serif
      font-size 11px
      text-transform uppercase
      line-height 25px
      color #979797
      cursor pointer
      text-decoration none

      &.hidden
        display none

  .s-separator
    font-size 11px
    color #979797

.now .s-footer .s-separator.now,
.want .s-footer .s-separator.want,
.quotes .s-footer .s-separator.quotes,
.all .s-footer .s-separator.quotes,
.all .s-footer .s-separator.all,
.friends .s-footer .s-separator.friends,
.popular .s-footer .s-separator.popular,
.shelves .s-footer .s-separator.popular
  display none
