.s-header
  position relative
  top 0
  left 0

  display inline-block
  width 100%
  height header-height
  padding 0 12px 0 16px
  box-sizing border-box

  background-color background-color

  font-family museo700, sans-serif
  font-size 18px
  line-height header-height

  &-buttons
    display inline-block
    height 100%
    vertical-align top
    float right
    font-size 0

    .s-button-icon
      height 100%
      margin-left 10px

      &:first-child
        margin-left 0

      &:last-child
        margin-right -8px
