<stack class="s-stack">
    <div class="s-big-item-card-wrapper"
         hm-swipe-left="stack.getNextItemFully($event)"
         hm-swipe-right="stack.getPreviousItemFully($event)"
         hm-pan-left="stack.getItemPartially($event)"
         hm-pan-right="stack.getItemPartially($event)"
         hm-pan-end="stack.endGetItemPartially($event)">

        <div class="s-hidden-next-cover">
            <img ng-src="{{ stack.nextItem.cover.url }}">
        </div>

        <div class="s-big-item-card">
            <div class="s-big-item-card-inner book" ng-if="stack.currentItem.type === 'book'">
                <div class="cover">
                    <img class="s-img" ng-if="stack.currentItem.cover" ng-src="{{ stack.currentItem.cover.url }}">
                    <div class="s-blank" ng-if="!stack.currentItem.cover">
                        <span class="s-blank-title" ng-bind="stack.currentItem.title"></span>
                        <span class="s-blank-authors" ng-bind="stack.currentItem.authors"></span>
                    </div>
                </div>
                <div class="title" ng-bind="stack.currentItem.title"></div>
                <div class="authors" ng-bind="stack.currentItem.authors"></div>
                <div class="progress-wrapper">
                    <div class="s-progress-value">12%</div>
                    <div class="s-full-progress"></div>
                    <div class="s-active-progress"></div>
                </div>
            </div>

            <div class="s-big-item-card-inner quote"></div>
            <div class="s-big-item-card-inner shelf"></div>
        </div>

        <div id="animated-item-card" class="s-animated-big-item-card">
            <div class="s-big-item-card-inner book" ng-if="stack.currentItem.type === 'book'">
                <div class="cover">
                    <img class="s-img" ng-if="stack.animatedItem.cover" ng-src="{{ stack.animatedItem.cover.url }}">
                    <div class="s-blank" ng-if="!stack.animatedItem.cover">
                        <span class="s-blank-title" ng-bind="stack.animatedItem.title"></span>
                        <span class="s-blank-authors" ng-bind="stack.animatedItem.authors"></span>
                    </div>
                </div>
                <div class="title" ng-bind="stack.animatedItem.title"></div>
                <div class="authors" ng-bind="stack.animatedItem.authors"></div>
                <div class="progress-wrapper">
                    <div class="s-progress-value">12%</div>
                    <div class="s-full-progress"></div>
                    <div class="s-active-progress"></div>
                </div>
            </div>

            <div class="s-big-item-card-inner quote"></div>
            <div class="s-big-item-card-inner shelf"></div>
        </div>
    </div>
</stack>

