<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="/stylesheets/stylus.build.min.css">
</head>
<body>
    <main class="s-app-container" ng-class="app.getCurrentSplitStateName()" ng-controller="AppCtrl">

        <header class="s-header">
            <span ng-bind="app.getCurrentTitle()"></span>
            <div class="s-header-buttons">
                <button class="s-button-icon" ng-click=""><i class="s-icon s-icon-search"></i></button>
                <button class="s-button-icon" ng-click=""><i class="s-icon s-icon-comment"></i></button>
            </div>
        </header>

        <stack class="s-stack">
            <div class="s-big-book-card-wrapper" ng-swipe-left="stack.getNextBook()" ng-swipe-right="stack.getPreviousBook()">
                <div class="s-big-book-card">
                    <div class="s-big-book-card-cover">
                        <img ng-src="{{ stack.currentBook.cover.url }}">
                    </div>
                    <div class="s-big-book-card-title" ng-bind="stack.currentBook.title"></div>
                    <div class="s-big-book-card-authors" ng-bind="stack.currentBook.authors"></div>
                    <div class="s-big-book-card-progress-wrapper">
                        <div class="s-progress-value">12%</div>
                        <div class="s-full-progress"></div>
                        <div class="s-active-progress"></div>
                    </div>
                </div>

                <div id="animated-book-card" class="s-animated-big-book-card">
                    <div class="s-big-book-card-cover">
                        <img ng-src="{{ stack.animatedBook.cover.url }}">
                    </div>
                    <br>
                    <div class="s-big-book-card-title" ng-bind="stack.animatedBook.title"></div>
                    <div class="s-big-book-card-authors" ng-bind="stack.animatedBook.authors"></div>
                    <div class="s-big-book-card-progress-wrapper">
                        <div class="s-progress-value">12%</div>
                        <div class="s-full-progress"></div>
                        <div class="s-active-progress"></div>
                    </div>
                </div>
            </div>
        </stack>

        <div class="s-state-toggle-button" ng-click="app.toggleParentState()">
            <div class="s-state-toggle-button-inner">
                <i class="s-icon s-icon-big s-icon-catalog"></i>
                <i class="s-icon s-icon-big s-icon-home"></i>
            </div>
        </div>

        <footer class="s-footer">
            <div class="s-footer-menu" ng-class="{active: app.$state.includes('home')}">
                <a class="s-footer-menu-item" ng-click="app.goToState('home.now')" ui-sref="home.now" ui-sref-active="hidden">Read now</a><span class="s-separator now">&#183;</span>
                <a class="s-footer-menu-item" ng-click="app.goToState('home.want')" ui-sref="home.want" ui-sref-active="hidden">Want to read</a><span class="s-separator want">&#183;</span>
                <a class="s-footer-menu-item" ng-click="app.goToState('home.quotes')" ui-sref="home.quotes" ui-sref-active="hidden">Quotes</a><span class="s-separator quotes all">&#183;</span>
                <a class="s-footer-menu-item" ng-click="app.goToState('home.all')" ui-sref="home.all" ui-sref-active="hidden">All books</a>
            </div>

            <div class="s-footer-menu" ng-class="{active: app.$state.includes('catalog')}">
                <a class="s-footer-menu-item" ng-click="app.goToState('catalog.all')" ui-sref="catalog.all" ui-sref-active="hidden">Catalog</a><span class="s-separator all">&#183;</span>
                <a class="s-footer-menu-item" ng-click="app.goToState('catalog.friends')" ui-sref="catalog.friends" ui-sref-active="hidden">Friends</a><span class="s-separator friends">&#183;</span>
                <a class="s-footer-menu-item" ng-click="app.goToState('catalog.popular')" ui-sref="catalog.popular" ui-sref-active="hidden">Popular</a><span class="s-separator popular shelves">&#183;</span>
                <a class="s-footer-menu-item" ng-click="app.goToState('catalog.shelves')" ui-sref="catalog.shelves" ui-sref-active="hidden">Shelves</a>
            </div>
        </footer>
    </main>
    <script src="/scripts/lib.build.min.js"></script>
    <script src="/scripts/app.build.js"></script>
</body>
</html>