.s-icon
  display inline-block
  width 24px
  height 24px
  vertical-align middle

  background center no-repeat
  background-size 100%

  &-big
    width 30px
    height 30px

.s-icon-search
  background-image url("../../images/icons/icon-search.png")

.s-icon-comment
  background-image url("../../images/icons/icon-comment.png")

.s-icon-catalog
  background-image url("../../images/icons/icon-catalog.png")

.s-icon-home
  background-image url("../../images/icons/icon-home.png")
