.s-icon
  display inline-block
  width 18px
  height 18px
  vertical-align middle

  background center no-repeat
  background-size contain

  &-big
    width 30px
    height 30px

.s-icon-search
  background-image url("../../images/icons/icon-search.png")

.s-icon-comment
  background-image url("../../images/icons/icon-comment.png")

.s-icon-catalog
  background-image url("../../images/icons/icon-catalog.png")

.s-icon-home
  background-image url("../../images/icons/icon-home.png")

.s-icon-share
  width 20px
  height 20px
  background-image url("../../images/icons/icon-share.png")

.s-icon-menu
  width 15px
  height 15px
  background-image url("../../images/icons/icon-menu.png")

.s-icon-read
  width 20px
  height 20px
  background-image url("../../images/icons/icon-read.png")

.s-icon-add
  width 20px
  height 20px
  background-image url("../../images/icons/icon-add.png")

.s-icon-like
  width 15px
  height 15px
  background-image url("../../images/icons/icon-like.png")

.s-icon-eye
  width 10px
  height 10px
  background-image url("../../images/icons/icon-eye.png")
