<stack class="s-stack">
    <div id="stack-block" class="s-big-item-card-wrapper"
         hm-swipe-left="stack.getNextItemFully($event)"
         hm-swipe-right="stack.getPreviousItemFully($event)"
         hm-pan-left="stack.getItemPartially($event)"
         hm-pan-right="stack.getItemPartially($event)"
         hm-pan-end="stack.endGetItemPartially($event)"
         ng-show="!stack.isExpandedView()">

        <div class="s-hidden-next-cover">
            <img ng-src="{{ stack.nextItem.cover.url }}">
        </div>

        <div class="s-big-item-card book">
            <div class="menu"><i class="s-icon s-icon-menu"></i></div>
            <div class="share"><i class="s-icon s-icon-share"></i></div>
            <div class="cover">
                <img class="s-img" ng-if="stack.currentItem.cover" ng-src="{{ stack.currentItem.cover.url }}">
                <div class="s-blank" ng-if="!stack.currentItem.cover">
                    <span class="s-blank-title" ng-bind="stack.currentItem.title"></span>
                    <span class="s-blank-authors" ng-bind="stack.currentItem.authors"></span>
                </div>
                <div class="book-button"><i class="s-icon s-icon-read"></i></div>
            </div>
            <div class="title-authors-wrapper">
                <div class="title" ng-bind="stack.currentItem.title"></div>
                <div class="authors" ng-bind="stack.currentItem.authors"></div>
            </div>
            <div class="progress-wrapper">
                <div class="s-progress-value">12%</div>
                <div class="s-full-progress"></div>
                <div class="s-active-progress"></div>
            </div>
            <div class="information">Bla bla bla, bla bla</div>
        </div>

        <div id="animated-item-card" class="s-animated-big-item-card book">
            <div class="menu"><i class="s-icon s-icon-menu"></i></div>
            <div class="share"><i class="s-icon s-icon-share"></i></div>
            <div class="cover">
                <img class="s-img" ng-if="stack.animatedItem.cover" ng-src="{{ stack.animatedItem.cover.url }}">
                <div class="s-blank" ng-if="!stack.animatedItem.cover">
                    <span class="s-blank-title" ng-bind="stack.animatedItem.title"></span>
                    <span class="s-blank-authors" ng-bind="stack.animatedItem.authors"></span>
                </div>
                <div class="book-button"><i class="s-icon s-icon-read"></i></div>
            </div>
            <div class="title-authors-wrapper">
                <div class="title" ng-bind="stack.animatedItem.title"></div>
                <div class="authors" ng-bind="stack.animatedItem.authors"></div>
            </div>
            <div class="progress-wrapper">
                <div class="s-progress-value">12%</div>
                <div class="s-full-progress"></div>
                <div class="s-active-progress"></div>
            </div>
            <div class="information">Bla bla bla, bla bla</div>
        </div>
    </div>

    <ul id="fake-item-card-list-block" class="s-item-card-list-wrapper fake" ng-show="!stack.isExpandedView()">
        <li class="s-item-card-list-el"></li>
        <li class="s-item-card-list-el"></li>
        <li class="s-item-card-list-el"></li>
        <li class="s-item-card-list-el"></li>
    </ul>

    <ul id="item-card-list-block" class="s-item-card-list-wrapper" ng-show="stack.expandedView">
        <li class="s-item-card-list-el" ng-click="stack.setStackElement(item.uuid)" ng-repeat="item in stack.currentItemList">
            <div class="cover">
                <img class="s-img" ng-if="item.cover" ng-src="{{ item.cover.url }}">
                <div class="s-blank" ng-if="!item.cover">
                    <span class="s-blank-title" ng-bind="item.title"></span>
                    <span class="s-blank-authors" ng-bind="item.authors"></span>
                </div>
                <div class="book-button"><i class="s-icon s-icon-read"></i></div>
            </div>
            <span class="progress">12%</span>
        </li>
    </ul>
</stack>
